<form class="layui-form" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">编码</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input field-number" id="number" name="number" lay-verify="required" placeholder="请输入编码">
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">膜层</label>
        <div class="layui-input-inline">
            <select name="film_id" id="film_id" lay-verify="required" lay-filter="class_select">
                <option value="">请选择膜层</option>
                {volist name="film_list" id="item"}
                <option value="{$item.id}" {if $item.id==$formData.film_id}selected{/if}>{$item.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">系列</label>
        <div class="layui-input-inline">
            <select name="series_id" id="series_id" lay-verify="required" lay-filter="class_select">
                <option value="">请选择系列</option>
                {volist name="series_list" id="item"}
                <option value="{$item.id}" {if $item.id==$formData.series_id}selected{/if}>{$item.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">折射率</label>
        <div class="layui-input-inline">
            <select name="refraction_id" id="refraction_id" lay-verify="required" lay-filter="class_select">
                <option value="">请选择折射率</option>
                {volist name="refraction_list" id="item"}
                <option value="{$item.id}" {if $item.id==$formData.refraction_id}selected{/if}>{$item.value}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">度数</label>
        <div class="layui-input-inline">
            <select name="degree_id" id="degree_id" lay-verify="required" lay-filter="class_select">
                <option value="">请选择度数</option>
                {volist name="degree_list" id="item"}
                <option value="{$item.id}" {if $item.id==$formData.degree_id}selected{/if}>{$item.value}</option>
                {/volist}
            </select>
        </div>
    </div>


    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">散光</label>
        <div class="layui-input-inline">
            <select name="astigmatism_id" id="astigmatism_id" lay-verify="required" lay-filter="class_select">
                <option value="">请选择散光</option>
                {volist name="astigmatism_list" id="item"}
                <option value="{$item.id}" {if $item.id==$formData.astigmatism_id}selected{/if}>{$item.value}</option>
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">正/负</label>
        <div class="layui-input-inline">
            <input type="radio" class="field-plus" name="plus" value="1" title="正">
            <input type="radio" class="field-plus" name="plus" value="0" title="负" checked>
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">球/非球</label>
        <div class="layui-input-inline">
            <input type="radio" class="field-ball" name="ball" value="1" title="球">
            <input type="radio" class="field-ball" name="ball" value="0" title="非球" checked>
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">左/右眼</label>
        <div class="layui-input-inline">
            <input type="radio" class="field-eye" name="eye" value="0" title="无需区分" checked>
            <input type="radio" class="field-eye" name="eye" value="1" title="左眼">
            <input type="radio" class="field-eye" name="eye" value="2" title="右眼">
        </div>
    </div>

    <div class="layui-form-item layui-form-pane">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input type="radio" class="field-status" name="status" value="1" title="启用" checked>
            <input type="radio" class="field-status" name="status" value="0" title="禁用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> </label>
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="id">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    window.onload = function(){
        var oInput = document.getElementById("number");
        oInput.focus();
    }

    layui.use(['upload', 'func'], function () {
        var $ = layui.jquery, layer = layui.layer, upload = layui.upload, func = layui.func, form = layui.form;
        var formSelects = layui.formSelects;
        // 编辑模式下表单自动赋值
        func.assign({:json_encode($formData)});

        form.on('select(class_select)', function (data) {
            var class_id = data.value;
            $.ajax({
                type: 'POST',
                url: '{:url('getSort')}',
                data: {class_id: class_id},
                dataType: 'json',
                success: function (data) {
                    $("#sort_id").html("<option value=''>请选择下级菜单</option>");
                    $.each(data, function (key, val) {
                        var option1 = $("<option>").val(val.id).text(val.name);
                        $("#sort_id").append(option1);
                        form.render('select');
                    });
                }
            });
        });

        upload.render({
            elem: '.layui-upload-video'
            , url: '{:url("system/annex/upload?water=&thumb=&from=&group=")}'
            , method: 'post'
            , before: function (input) {
                layer.msg('文件上传中...', {time: 3000000});
            }, done: function (res, index, upload) {
                console.log(res);
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                $("#video_tip").html(res.data.name + '已上传成功');
                $("input[name='video']").attr('value', res.data.file);
            }
        });


        upload.render({
            elem: '.layui-upload-zip'
            , url: '{:url("system/annex/upload?water=&thumb=&from=&group=")}'
            , method: 'post'
            , before: function (input) {
                layer.msg('文件上传中...', {time: 3000000});
            }, done: function (res, index, upload) {
                console.log(res);
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                $("#zip_tip").html(res.data.name + '已上传成功');
                $("input[name='zip']").attr('value', res.data.file);
            }
        });
        /**
         * 附件上传url参数说明
         * @param string $from 来源
         * @param string $group 附件分组,默认sys[系统]，模块格式：m_模块名，插件：p_插件名
         * @param string $water 水印，参数为空默认调用系统配置，no直接关闭水印，image 图片水印，text文字水印
         * @param string $thumb 缩略图，参数为空默认调用系统配置，no直接关闭缩略图，如需生成 500x500 的缩略图，则 500x500多个规格请用";"隔开
         * @param string $thumb_type 缩略图方式
         * @param string $input 文件表单字段名
         */
        upload.render({
            elem: '.layui-upload'
            , url: '{:url("system/annex/upload?water=&thumb=&from=&group=")}'
            , method: 'post'
            , before: function (input) {
                layer.msg('文件上传中...', {time: 3000000});
            }, done: function (res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                layer.closeAll();
                var input = $(obj).parents('.upload').find('.upload-input');
                if ($(obj).attr('lay-type') == 'image') {
                    input.siblings('img').attr('src', res.data.file).show();
                }
                input.val(res.data.file);
            }
        });


        upload.render({
            elem: '#test2'
            , url: '{:url("system/annex/upload?water=&thumb=&from=&group=")}'
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {

                });
            }
            , done: function (res) {
                //上传完毕
                $('#pic').append('<div style="display: inline"><a href="' + res.data.file + '" target="_blank">' +
                    '<img src="' + res.data.file + '" class="layui-upload-img" style="width: 50px;height: 50px;"></a>' +
                    '<input type="hidden" name="photo[]" value="' + res.data.file + '">' +
                    '<span class="remove fa fa-times-circle click" data-type="remove"></span></div>');
                console.log(res);
            }
        });


        //事件
        var active = {
            remove: function () {
                console.log($(this).parent());
                $(this).parent().remove();
            },
        };

        $('.layui-form').on('click', '.click', function () {
            console.log(1);
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
