<form class="layui-form layui-form-pane" lay-filter='dataTable' method="get" id="hisi-table-search">
    <div class="layui-form-item">
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">系列</label>
            <div class="layui-input-inline">
                <select name="series_id" id="series_id" lay-verify="required" lay-filter="class_select">
                    <option value="">请选择系列</option>
                    {volist name="series_list" id="item"}
                    <option value="{$item.id}" {if $item.id == session('series_id')}selected{/if}>{$item.name}</option>
                    {/volist}
                </select>
            </div>
            <label class="layui-form-label">折射率</label>
            <div class="layui-input-inline">
                <select name="refraction_id" id="refraction_id" lay-verify="required" lay-filter="class_select">
                    <option value="">请选择折射率</option>
                    {volist name="refraction_list" id="item"}
                    <option value="{$item.id}" {if $item.id == session('refraction_id')}selected{/if}>{$item.value}</option>
                    {/volist}
                </select>
            </div>
            <label class="layui-form-label">膜层</label>
            <div class="layui-input-inline">
                <select name="film_id" id="film_id" lay-verify="required" lay-filter="class_select">
                    <option value="">请选择膜层</option>
                    {volist name="film_list" id="item"}
                    <option value="{$item.id}" {if $item.id == session('film_id')}selected{/if}>{$item.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label">球/非球</label>
            <div class="layui-input-inline">
                <select name="ball" id="ball" lay-verify="required" lay-filter="class_select">
                    <option value="">请选择球/非球</option>
                    <option value="1" {if 1 == session('ball')}selected{/if}>球</option>
                    <option value="0" {if 0 == session('ball')}selected{/if}>非球</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-primary layui-btn-normal" type="button" onclick="search()">查询
                </button>
            </div>
        </div>
    </div>
</form>
<table id="dataTable"></table>

{include file="system@block/layui" /}

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus"
           lay-text="正常|关闭" {{ d.status== 1
           ? 'checked' : '' }} data-href="{:url('status')}?table=admin_user&id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal" title="修改管理员">修改</a>
    <!--    <a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>-->
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('add')}"
           class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine">&nbsp;添加</a>
        <a href="{:url('import')}"
           class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine">&nbsp;扫描添加</a>
        <!--        <a data-href="{:url('status?val=1')}"-->
        <!--           class="layui-btn layui-btn-primary layui-btn-sm j-page-btns layui-icon layui-icon-play"-->
        <!--           data-table="dataTable">&nbsp;启用</a>-->
        <!--        <a data-href="{:url('status?val=0')}"-->
        <!--           class="layui-btn layui-btn-primary layui-btn-sm j-page-btns layui-icon layui-icon-pause"-->
        <!--           data-table="dataTable">&nbsp;禁用</a>-->
        <!--                <a data-href="{:url('del')}"-->
        <!--                   class="layui-btn layui-btn-primary layui-btn-sm j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>-->
    </div>
</script>

<script type="text/javascript" src="__PUBLIC_JS__/jquery.2.1.4.min.js"></script>
<script type="text/javascript">

    layui.use(['table'], function () {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            , url: '{:url()}' //数据接口
            , page: true //开启分页
            , skin: 'row'
            , even: true
            , limit: 20
            ,height: 'full-150'
            , text: {
                none: '暂无相关数据'
            }
            // , toolbar: '#toolbar'
            , defaultToolbar: ['filter']
            , cols: [[ //表头
                {field: 'degree', title: '度数/散光'}
                , {
                    field: 'v1', title: '0',height:10, templet: function (d) {
                        return d.v1;
                    }
                }
                , {
                    field: 'v2', title: '25', templet: function (d) {
                        return d.v2
                    }
                }
                , {
                    field: 'v3', title: '50', templet: function (d) {
                        return d.v3;
                    }
                }
                , {
                    field: 'v4', title: '75', templet: function (d) {
                        return d.v4;
                    }
                }
                , {
                    field: 'v5', title: '100', templet: function (d) {
                        return d.v5;
                    }
                }
                , {
                    field: 'v6', title: '125', templet: function (d) {
                        return d.v6;
                    }
                }
                , {
                    field: 'v7', title: '150', templet: function (d) {
                        return d.v7;
                    }
                }
                , {
                    field: 'v8', title: '175', templet: function (d) {
                        return d.v8;
                    }
                }
                , {
                    field: 'v9', title: '200', templet: function (d) {
                        return d.v9;
                    }
                }
                , {
                    field: 'sum', title: '总和', templet: function (d) {
                        return d.sum;
                    }
                }
                // , {field: 'ctime', title: '创建时间'}
                // , {title: '操作', templet: '#buttonTpl', width: 110}
            ]]
        });
    });

    function search() {
        var table = layui.table;
        // 获取参数
        var series_id = $('#series_id').val();
        var refraction_id = $('#refraction_id').val();
        var film_id = $('#film_id').val();
        var ball = $('#ball').val();
        table.reload('dataTable', {
            where: { //设定异步数据接口的额外参数，任意设
                series_id: series_id,
                refraction_id: refraction_id,
                film_id: film_id,
                ball: ball,
            }
            , page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }
</script>